[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
psycopg2 = "*"
alembic = "*"
python-dateutil = "*"
httpx = "*"
sentry-sdk = {extras = ["pure_eval", "sqlalchemy"], version = "*"}

[dev-packages]
pytest = "*"
black = "*"
isort = "*"
mypy = "*"
flake8 = "*"
autopep8 = "*"
types-python-dateutil = "*"
types-requests = "*"
pytest-dotenv = "*"
ruff = "*"
typing-extensions = "*"

[requires]
python_version = "3.11"

[scripts]
lint_types = "mypy ./app --disallow-untyped-defs"
lint_black = "black . --check"
lint_isort = "isort ./app --check-only"
lint_flake8 = "flake8 ./app"
local = "uvicorn app.app:app --reload"
