[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
flask-sock = "*"
gunicorn = "*"
psycopg2 = "*"
PyYAML = "*"
requests = "*"
alembic = "*"
flask-sqlalchemy = "*"
gevent = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
urllib3 = "*"
werkzeug = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
pytest-env = "*"
pytest-alembic = "*"
pygments = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.14"

[scripts]
tests = "pytest ."

